.lists-transferer-container {
  display: flex;
  align-items: center;
}

.transferer-list {
  display: flex;
  flex-direction: column;
  border: 1px solid #1a1a1a;
  list-style: none;
  overflow-y: scroll;
  padding: 0;
}

.transferer-list__add-item-box {
  width: 100%;
}
.list-item {
  display: flex;
  font-size: 1.6rem;
  width: 100%;
  position: relative;
  &:hover {
    background: lightblue;
  }
}
.list-item__checkbox-label {
  position: absolute;
  height: 100%;
  width: 100%;
}
.arrow-buttons {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
